body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:white;
}
.s {
  display: flex;
}
.rabbi {
  width: 250px;
  background-color: #8dc015;
  padding: 20px;
  height: 133vh;
}
.rabbi ul li:hover{
    background-color: gold;
    border-radius: 20px;
    padding: 10px;
}
.rabbi h2 {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}
.rabbi h2 span {
  color: #86125a;
}
.rabbi ul {
  list-style-type: none;
  padding: 0;
}
.rabbi ul li {
  margin: 15px 0;
  font-size: 18px;
}
.rabbi ul li a {
  color: #333;
  text-decoration: none;
}
.rabbi .profile {
  margin-top: 30px;
  text-align: center;
}
.rabbi .profile img {
  width: 50px;
  border-radius: 50%;
}
.rabbi .profile h4 {
  margin: 10px 0;
}
.rabbi .a {
  background-color: #3444d1;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.main-content {
  flex-grow: 1;
  padding: 20px;
}
.main-content h1 {
  font-size: 28px;
  color: #d1202f;
}
.incoming-lesson, .Batch, .Items, .inbox {
  background-color: rgb(72, 118, 161);
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
}
.incoming-lesson h2, .Items h2, .Batch h2, .semester-progress h2, .inbox h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #44123d;
}
.lesson-item {
  display: flex;
  justify-content: space-between;
  color: #6a6281;
  margin-bottom: 10px;
}
.Items{
color: #9ea7ce;
}
.Batch{
color: #a3c5da;
}
.send{
  color: #170cb4;
}
.lesson-item div {
  font-size: 16px;
  color: #cebebe;
}
.Items-item {
  display: flex;
  gap: 10px;
  font-size: 16px;
  color: #1d1f33;
}
.Inbox-item, .inbox-item {
  margin-bottom: 5px;
}
.Inbox-item p, .inbox-item p {
  font-size: 16px;
  color: #e2ad19;
}